.li-aside {
  margin: 1em -1.5em;
  list-style: none;
  font-style: italic;
}

body > .container {
  max-width: 50em;
}

.win-logo {
  vertical-align: bottom;
  max-height: 1.3em;
}

.windows-instructions li {
  margin: 0.4em 0;
  list-style: none;
}

.windows-instructions {
  padding-left: 1em;
}
