.li-aside {
  margin: 1em -1.5em;
  list-style: none;
  font-style: italic;
}

body > .container {
  max-width: 50em;
}

.win-logo {
  vertical-align: bottom;
  max-height: 1.3em;
}

.win-logo.win-8 {
  position: relative;
  bottom: 1px;
}

.windows-instructions li {
  margin: 0.4em 1em 0.4em 0em;
  list-style: none;
  display: inline-block;
}

.windows-instructions li:first-child {
  margin-left: 7em;
}

.windows-instructions {
  padding-left: 0em;
}
